<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
	<style type="text/css">
		
		table {
		border-collapse: separate;
	    font-family: Tahoma, Geneva, sans-serif;
		}
		table thead{
		background-color:black;
		color: white;  
		}
		table td {
			padding: 15px;
			text-align: center;
		}
		table thead td {
			background-color: #54585d;
			color: #ffffff;
			font-weight: bold;
			font-size: 13px;
			border: 1px solid #54585d;
		}
		table tbody td {
			color: #636363;
			border: 1px solid #dddfe1;
		}
		</style>
	    <title>Listar Colores</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
	</head>
	<body>
		<h1>Mostrando la lista de departamentos</h1>

		<div th:switch="${colores}">
		    <h2 th:case="null">No hay colores</h2>
		    <div th:case="*">
		            <h2>Colores</h2>
		            <table>
		                <thead>
		                    <tr>
		                        <th>Codigo color</th>
		                        <th>Codigo hexadecimal</th>
		                        <th>Nombre</th>
		                    </tr>
		                </thead>
		                <tbody>
						<tr th:each="listaColores: ${colores}">
		                    <td th:text="${listaColores.codigoColor}"></td>
		                    <td th:text="${listaColores.codigoHexadecimal}"></td>
		                    <td th:text="${listaColores.nombre}"></td>
		                    <td><a th:href="@{/colores/{codigo}/editar(codigo=${listaColores.codigoColor})}">Editar</a></td>
		                    <td><a th:href="@{/colores/{codigo}/borrar(codigo=${listaColores.codigoColor})}">Borrar</a></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>      
		    <p><a href="/colores/crear">Crear color</a></p>
		</div>
	</body>
</html>